= javascript_include_tag 'people/people'

.row.form.col.m10.offset-m3
  = form_for @person do |f|
    .row
      .input-field.col.s12.m6.l8
        = f.text_field :first_name
        = f.label :first_name, class: 'active'
    .row
      .input-field.col.s12.m6.l8
        = f.text_field :last_name, length: '75'
        = f.label :last_name, class: 'active'
    .row
      .input-field.col.s12.m6.l8
        = f.text_field :email, length: '254'
        = f.label :email, class: 'active'
    .row
      .input-field.col.s12.m6.l8
        = f.text_field :job, length: '75'
        = f.label :job, class: 'active'
    .row
      .input-field.col.s12.m6.l8
        = f.text_area :bio, length: '254', class: 'materialize-textarea'
        = f.label :bio, class: 'active'
    .row
      .input-field.col.s12.m6.l8
        = f.date_field :birthdate, as: :date, html5: true, class:'datepicker'
        = f.label :birthdate, class: 'active'
    .row
      .input-field.col.s12.m5.l8.center
        = f.radio_button :gender, 'M', class: 'with-gap', checked: true
        = f.label :gender, "Male", class: 'active', value: 'M'
        = f.radio_button :gender, 'F', class: 'with-gap'
        = f.label :gender, "Female", class: 'active', value: 'F'
    .row
      .input-field.col.s12.m6.l8
        = f.text_field :picture
        = f.label :picture, class: 'active'
    .actions.col.m6.l8.center
      %button.btn.waves-effect.waves-light{ type: 'submit' }
        Save
      = link_to "Go Back", locals[:back_path], class: 'btn'
