%h1 Listing people

%table
  %thead
    %tr
      %th First name & Last Name
      %th Email
      %th Age
      %th

  %tbody
    - @people.each do |person|
      %tr
        %td= person.display_name
        %td= person.email
        %td= person.age
        %td= link_to 'Destroy', person, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br

= link_to 'New Person', new_person_path
