!!! 5
%html
  %head
    %title
      Contacts Directory
    %link{ :href => 'https://fonts.googleapis.com/icon?family=Material+Icons', :rel => 'stylesheet' }
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    %meta{ :name => 'viewport', :content => 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.' }

  %body
    = render :partial => 'partials/navbar'
    %main
      .row
        #page-content.container
          = yield


